.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15vh;
}

.profile {
  display: flex;
  align-items: center;
  margin: 5rem 0 1rem;
}

.profile-image {
  width: auto;
  height: 20vh;
  border-radius: 50%;
  margin-right: 20px;

  box-shadow: 0 0 0 8px rgb(239, 239, 239);
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.5rem;
  color: #333333;
  margin: 0;
}

.surname {
  font-size: 1.2rem;
  color: #666666;
  margin: 0;
}

.description {
  text-align: center;
}

.studies {
  font-size: 1.2rem;
  color: #333333;
}

.biography {
  font-size: 1rem;
  color: #666666;
  margin: 0 2vw;
}

@media screen and (orientation: portrait) and (min-width: 700px) and (max-width: 1200px) {
  .name {
    font-size: 2rem;
    color: #333333;
    margin: 0;
  }

  .surname {
    font-size: 1.8rem;
    color: #666666;
    margin: 0;
  }

  .studies {
    font-size: 2rem;
    color: #333333;
  }

  .biography {
    font-size: 1.4rem;
    color: #666666;
  }
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15vh;
  }

  .profile {
    margin: 8vh 0 12vh 2vw;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  .profile-image {
    width: 15vw;
    height: auto;
    margin-bottom: 2.5vh;
    margin-right: 0;
  }

  .name {
    font-size: 2rem;
  }

  .surname {
    font-size: 1.8rem;
  }

  .description {
    margin: 0 18vw 0 0;
  }

  .studies {
    font-size: 2rem;
  }

  .biography {
    font-size: 1.4rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15vh;
  }

  .profile {
    margin: 8vh 0 12vh 2vw;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  .profile-image {
    width: 15vw;
    height: auto;
    margin-bottom: 2.5vh;
    margin-right: 0;
  }

  .name {
    font-size: 1.5rem;
  }

  .surname {
    font-size: 1.2rem;
  }

  .description {
    margin-left: 3vw;
  }

  .studies {
    font-size: 1.2rem;
  }

  .biography {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .profile {
    margin: 10vh 0 5vh;
  }

  .profile-image {
    width: 15vw;
    height: auto;
  }

  .name {
    font-size: 2rem;
  }

  .surname {
    font-size: 1.5rem;
  }

  .studies {
    font-size: 2rem;
  }

  .biography {
    font-size: 1.5rem;
  }
}
