.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10vh 0;
  height: 100%;
  width: 100%;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: #fefefe;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-link:hover {
  transform: scale(1.1);

  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 8px rgb(239, 239, 239);
  color: #fefefe;
}

.social-link:not(:hover) {
  transition: all 0.3s ease-in-out;
}

.linkedin img {
  width: 100%;
  height: auto;
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  .social-link {
    width: 10vw;
    height: 10vw;
  }
}
