.education {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15vh;
}

.uni-image {
  width: auto;
  height: 20vh;
  border-radius: 50%;
  margin: 5rem 0 1rem;

  box-shadow: 0 0 0 8px rgb(239, 239, 239);
}

.study-progress {
  font-size: 1rem;
  color: #666666;
}

.edu-description {
  text-align: center;
  width: 100%;
}

.edu-studies {
  font-size: 1.2rem;
  color: #333333;
}

.circle-progress {
  position: relative;
  width: 20vh;
  height: 20vh;
  margin: 3vh 0;
  border-radius: 50%;
  background: #ffcdb2;
  overflow: hidden;
  background-image: conic-gradient(
    var(--primary-color) 83%,
    var(--secondary-color) 0
  );
}

.circle-progress .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19vh;
  height: 19vh;
  background: var(--secondary-color);
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: bold;
  color: #333333;
}

.circle-progress .inner h3 {
  margin: 0;
}

@media screen and (orientation: portrait) and (min-width: 700px) and (max-width: 1200px) {
  .edu-studies {
    font-size: 2rem;
  }

  .study-progress {
    font-size: 1.4rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
  .education {
    flex-direction: row;
  }

  .uni-image {
    width: auto;
    height: 30vh;
    margin: 0 0 0 2vw;
  }

  .edu-studies {
    font-size: 2rem;
  }

  .study-progress {
    font-size: 1.4rem;
  }

  .circle-progress {
    position: relative;
    width: 20vw;
    height: 20vw;
    margin: 0 2vw 0 0;
  }

  .circle-progress .inner {
    display: flex;
    width: 19vw;
    height: 19vw;
    font-size: 1.85em;
    font-weight: bold;
  }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  .education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16vh;
  }

  .uni-image {
    width: 15vw;
    height: auto;
    margin: 0 0 5vh 2vw;
  }

  .edu-studies {
    font-size: 1.2rem;
  }

  .study-progress {
    font-size: 1rem;
  }

  .circle-progress {
    width: 16vw;
    height: 16vw;
    margin: 3vh 0;
  }

  .circle-progress .inner {
    width: 15vw;
    height: 15vw;
    background: var(--secondary-color);
    font-size: 5vh;
    color: #333333;
  }
}

@media screen and (min-width: 1200px) {
  .uni-image {
    width: auto;
    height: 20vh;
  }

  .edu-studies {
    font-size: 2rem;
  }

  .study-progress {
    font-size: 1.5rem;
  }

  .circle-progress {
    position: relative;
    width: 20vh;
    height: 20vh;
    margin: 5vh 0 15vh;
  }

  .circle-progress .inner {
    display: flex;
    width: 19vh;
    height: 19vh;
    font-size: 1.85em;
    font-weight: bold;
  }
}
