#card-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#galleryContainer {
  height: 100%;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#galleryView {
  margin: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.job-hidden {
  display: none;
}

#leftView.job-view-hidden,
#rightView.job-view-hidden {
  opacity: 0;
  cursor: default;
}

#leftView.job-view-hidden:hover,
#rightView.job-view-hidden:hover {
  opacity: 0;
}

#mainView.animate-slide-right,
#rightView.animate-slide-right {
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  transform: translatex(-200px);
  opacity: 0;
}

#mainView.animate-slide-left,
#leftView.animate-slide-left {
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  transform: translatex(200px);
  opacity: 0;
}

#mainView {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 60vw;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#mainView h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px 0;
}

#mainView .job-date-location-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#mainView .job-date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#mainView p.job-date,
#mainView p.job-location {
  font-size: 1em;
  color: #666;
  margin: 5px;
}

#mainView .job-description-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--secondary-color);
  height: 100%;
  margin: 1rem 0;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#mainView .job-description {
  font-size: 1em;
  line-height: 1.5;
  color: #777;
  margin: 0;
  text-align: left;
}

#leftView {
  height: 60vh;
  width: 10vw;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#rightView {
  height: 60vh;
  width: 10vw;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#leftView h2,
#rightView h2 {
  transform: rotate(-90deg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.navBtns {
  display: none;
}

@media screen and (min-width: 1200px) {
  #card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  #galleryView {
    margin: 0;
    align-items: center;
  }

  #mainView {
    height: 60vh;
    width: 30vw;
  }

  #mainView h2 {
    font-size: 2rem;
  }

  #mainView .job-description {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #777;
    margin: 0;
  }

  #mainView:hover {
    transform: scale(1.2);
    transition: all 1s;
  }

  #mainView p.job-date,
  #mainView p.job-location {
    font-size: 1.5em;
    color: #666;
    margin: 5px;
  }

  #leftView {
    height: 40vh;
    width: 12vw;
  }

  #rightView {
    height: 40vh;
    width: 12vw;
  }

  #leftView:hover,
  #rightView:hover {
    opacity: 1;
    transition: all 1s;
  }
}
