#card-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

#galleryContainer { 
  height: 500px;
  width: 800px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#galleryView {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-hidden {
  display: none;
}

#leftView.job-view-hidden, #rightView.job-view-hidden {
  opacity: 0;
  cursor: default;
}

#leftView.job-view-hidden:hover, #rightView.job-view-hidden:hover {
  opacity: 0;
}

#mainView {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 450px;  
  border-radius: 5px;
  background-color: #eb9100;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;  
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#mainView h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333; /* Cambia il colore del testo a tuo piacimento */
  margin: 0 0 10px 0;
}

#mainView .job-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#mainView p.job-date {
  font-size: 16px;
  color: #666; /* Cambia il colore delle date a tuo piacimento */
  margin-bottom: 5px;
}

#mainView .job-description-box {
  border: 1px solid #ccc; /* Aggiungi un bordo di 1px solid */
  border-radius: 5px; /* Rendi gli angoli arrotondati */
  padding: 10px; /* Aggiungi spaziatura interna */
  background-color: #f9f9f9; 
  height: 100%;
  margin: 1rem 0;
}

#mainView p.job-description {
  font-size: 18px;
  line-height: 1.5; /* Imposta l'interlinea per una migliore leggibilità */
  color: #777; /* Cambia il colore del corpo a tuo piacimento */
  margin: 0;
}

#mainView:hover {
  transform: scale(1.2);
  transition: all 1s;   
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s; 
}

#leftView h2 {
  rotate: -90deg;
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
 transition: all 1s;
}

#rightView h2 {
  rotate: -90deg;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  background-color: #eb9100;
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}
