.menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.language-menu {
  background-color: var(--secondary-color);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.language-menu-container {
  position: fixed;
  top: -100px;
  right: -250px;
  width: 250px;
  height: auto;
  background-color: #fff;
  overflow-y: auto;
  transition:
    right 0.3s ease,
    top 0.3s ease;
  z-index: 4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.language-menu-container.show {
  right: 15px;
  top: 15px;
}

.language-menu label {
  display: block;
  margin-bottom: 5px;
}

.language-menu select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #000;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  appearance: none;
  background-image: url('../icons/down-arrow.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  padding-right: 30px;
}

.language-menu select::-ms-expand {
  display: none;
}
