@import url('https://fonts.googleapis.com/css?family=Lato:300');

:root {
  --primary-color: #FF5722;
  --secondary-color: #EFEFEF;
  --tertiary-color: #EB9100;
  --bg-color: #F8F8F8;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lato';
}


::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


::-webkit-scrollbar-track:vertical {
  background: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  background: #888;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column; 
}

.page {
  min-height: 100vh; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  scroll-snap-align: start; 
  padding: 2rem 0; 
  background-color: var(--bg-color);
  position: relative;
}

.page div .title {
  font-size: 2rem;
  color: #333333;
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  margin: 0 auto;
  background-color: transparent; 
  padding: 1rem; 
  z-index: 2; 
}

.ita {
  display: none;
}

.menu-toggle {
  z-index: 4;
  background-color: var(--secondary-color);
  padding: 0 0.2%; 
  border-radius: 12.5px;
  transition: opacity 0.3s ease;
}

.menu-toggle img {
  width: 3rem;
  height: 3rem;
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
  .page {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .page div h1 {
    font-size: 2.5rem;
  }
}
