@import url('https://fonts.googleapis.com/css?family=Lato:300');

:root {
  --primary-color: #FF5722;
  --secondary-color: #EFEFEF;
  --tertiary-color: #EB9100;
  --bg-color: #F8F8F8;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lato';
}

/* Nascondi la scrollbar predefinita */
::-webkit-scrollbar {
  width: 6px;
}

/* Stile per la scrollbar orizzontale */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Stile per la scrollbar verticale */
::-webkit-scrollbar-track:vertical {
  background: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  background: #888;
  border-radius: 10px;
}

/* Stile quando si passa il mouse sulla scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory; /* Abilita lo snap verticale */
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column; /* Per allineare correttamente le sezioni */
}

.page {
  min-height: 100vh; /* Altezza minima del 100% della viewport */
  width: 100%; /* Larghezza al 100% della viewport */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  scroll-snap-align: start; /* Allinea le sezioni all'inizio della viewport */
  padding: 2rem 0; /* Spazio extra per evitare il testo al limite dell'alto o basso */
  background-color: var(--bg-color);
  position: relative;
}

.page div .title {
  font-size: 2rem;
  color: #333333;
  position: absolute;
  top: 0; /* Posizione in alto nella viewport */
  left: 0; /* Posizione a sinistra nella viewport */
  right: 0; /* Posizione a destra nella viewport */
  margin: 0 auto;
  background-color: transparent; /* Colore di sfondo desiderato */
  padding: 1rem; /* Spazio interno per una migliore leggibilità */
  z-index: 2; /* Per essere sopra le bolle e le frecce */
}

.ita {
  display: none;
}

.menu-toggle {
  z-index: 4;
  background-color: var(--secondary-color);
  padding: 0 0.2%; /* Spazio interno per rendere lo sfondo più visibile */
  border-radius: 12.5px;
  transition: opacity 0.3s ease;
}

.menu-toggle img {
  width: 3rem;
  height: 3rem;
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
  .page {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .page div h1 {
    font-size: 2.5rem;
  }
}
