.timeline-labels {
  position: fixed;
  bottom: 1%;
  left: 2.5%;
  width: 90%;
  height: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  padding: 0 2.5%;
  z-index: 3;
  border-radius: 25px;
}

.timeline-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.timeline-label .timeline-text {
  display: none;
}

.timeline-label #timeline-icon {
  margin-right: 0;
}

.timeline-label:not(.selected) {
  font-weight: normal;
  color: #333333;
}

.timeline-label.selected {
  font-weight: bold;
  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .timeline-labels {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 25px;
    width: 8rem;
    left: auto;
    bottom: auto;
    padding: 10px;
    overflow: hidden;
    height: auto;
  }

  .timeline-label #timeline-icon {
    margin-right: 10px;
  }

  .timeline-label .timeline-text {
    display: block;
    flex-grow: 1;
  }
}
